* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: ;
}

.welc {
    font-size: 20px;
}
 .welc > p > img {
     height: 40px;
     width:  40px;
     border-radius: 50%;
     border: 1px solid cadetblue;
 }
    